.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--light-first-color);
    padding:2rem 0rem 0rem 0rem;
    background-image: url("../../assets/footerhexagongrey.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat:repeat-x;
    background-size:80vw;
}
.footer_content{
    display: flex;
    flex-direction: column;
    width:100%;
}
.footer_content-info{
    padding: 0rem 2rem 2rem;
}
.footer_content-info div{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}

.footer_content-info_contacts{
    display:flex;
    flex-direction: row!important;
}
.footer_content-info_contacts div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1rem 0rem;
    color:var(--main-border-color);
    font-size:18px;
    gap:10px;
}
.footer_content-copyright{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    background:rgba(255,255,255,0.4);
}
.footer_content-copyright h1{
    text-align: center;
    font-family: var(--font-family);
    font-size:12px;
    color:var(--first-color);
}
.footer_content-copyright span{
    color:white;
    font-size: 13px;
}

@media screen and (max-width:850px) { 
    .footer_content-info_contacts{
        display:flex;
        flex-direction: column!important;
    }
    .footer_content-copyright h1{
        font-size:16px;
    }
}
@media screen and (max-width:300px) { 
    .footer_content-info_contacts div{
        font-size:14px;
    }
    .footer_content-copyright h1{
        font-size:16px;
    }
}