/* user / login */
.user_form{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: start; 
    height:100vh;
    background-color: var(--dark-first-color);
    padding:60px 80px;
    gap:50px;
}
.user_form_input{
    display: flex;
    flex-direction: column;
    color:white;
    padding:10px;
    gap:5px;
}
.user_form_input input{
    border:none;
    border-bottom: 2px solid var(--second-color);
    background-color: var(--first-color);
    width:20vw;
    padding:10px;
    color:white;
    &:hover{
        background-color: var(--light-first-color);
        border:none;
    }
}
.user_form_action_buttons{
    display: flex;
    justify-content: space-evenly;
    padding:10px;
}
.user_form_action_buttons button{
    cursor:pointer;
    background-color: var(--first-color);
    color:white;
    border:none;
    &:hover{
        background-color: var(--light-first-color);
    };
}
.user_form p{
    color:var(--second-color);
    overflow-wrap:break-word;
    text-align: center;
}
.error_message{
    color:var(--error-color)!important;
}
/* Create Project */
.create_project_form{
    background-color: white;
    padding:2rem 2rem;
}

.create_project_form form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}
.create_project_form input{
    padding:10px;
    border:1px solid var(--main-border-color);
    border-radius: 2px;
}
.load_img{
    display: flex;
    flex-direction: column;
}
.categories{
    margin:2px 0px;
    padding:10px;
}
.action_buttons{
    flex:2;
    display:flex;
    flex-direction: row;
    gap:5px;
}
.create_project_form button{
    padding:10px;
    background-color: var(--first-color);
    color:white;
    border:none;
    cursor:pointer;
    &:hover{
        background-color: var(--light-first-color);
    }
}

/* project */
.projects_search_section{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    background: var(--first-color);
    padding:40px 60px 20px;
}
.projects_search_section *{
    display:flex;
    align-items: center;
    height:40px;
    gap:5px;
}
.projects_search_section label{
    color:white;
}
.projects_content{
    padding:2px 4px;
    background:#f0f0f0;
}
.search_item{
    height:40px;
}